html {
	box-sizing: border-box;
	font-size: 62.5%;

	@include respond(tab-land) {
		font-size: 50%;
	}

	@include respond(phone-small) {
        font-size: 40%;
    }
}

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
}