.signup-form {
    display: flex;
    align-items: center;

    &__input {
        width: 35rem;
        height: 5rem;
        padding: 1rem;
        border: .2rem solid $color-alpine;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: .1rem;
        color: $color-alpine;
    }

    &__input::placeholder {
        color: $color-alpine;
    }

    &__btn {
        position: relative;
        left: -4.5rem;
        width: 4rem;
        height: 4rem;
        background-color: $color-grey-lighter;
        color: $color-alpine;
        border: none;
        font-size: 1.8rem;
        cursor: pointer;
    }
}