.footer {
    width: 100%;
    height: 30vh;
    background-color: $color-grey-light;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
    position: relative;
    align-items: flex-start;

    @include respond(tab-mini-land) {
		height: 30rem;
	}

    @include respond(phone) {
        height: 40rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__text {
        text-transform: uppercase;

        @include respond(phone) {
            margin-bottom: 8rem;
        }
    }

    &__descr {
        font-size: 1.5rem;
        color: $color-grey-white;
    }
}

.copyright {
    position: absolute;
    bottom: 3rem;
    font-size: 1.7rem;
    font-weight: 200;
    color: $color-white-darker;
    letter-spacing: .1rem;
    border-top: .1rem solid $color-grey-white;
    padding-top: 6rem;
    width: 100%;
    text-align: center;
}