//FONT
$heading-1-size: 12rem;

//COLORS
$color-white: #fff;
$color-white-dark: #aaa;
$color-white-darker: #eee;
$color-grey-white: #888;
$color-black: #000;
$color-grey: #111;
$color-grey-light: #222;
$color-grey-lighter: #333;
$color-alpine: #a79a2d;
$color-pacifika: #817824;
$color-haclenda: #8f8317;
$color-red: #E92929;
$color-green-light: #A2E946;
$color-blue: #297CE9;
$color-pink: #E92999;